.header {
  width: 100%;
  position: absolute;
  top:0;
  z-index: 10;

  &__logo {
    padding: 1.5vw 0 0 1.9vw;
    transition: all 1s ease;
  }
  > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}