
header {
  width: 100%;
  position: relative;
  top:0;
  z-index: 10;
  font-size: 75px;

  nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:auto;
    cursor: pointer;
    height: 5.5vw;
      position: relative;
    
      li {
        display: inline-block;
        font-size: 16px;
      }

    .logo__cont{
      border: 1px solid;
    }
    
    .logo {
      transition: all 0.5s ease;
      width: 28.3vw;
      margin: 0 8vw 0 7.5vw;

      @include responsive ('tablet-h') {
        margin: 0 4vw 0 3.5vw;
        width: 25.3vw;
      }
    }

    .menu__main {
      display: flex;
    }

    .menu__item{
      width: 15.1vw;//266px 20.1vw 29-04
      height: 5.5vw;//83px
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      @include responsive ('tablet-h') {
        align-items: center;
      }

      &__link {
        font-size: 16px;
        color: $white;
        padding: 0 18px 11px 0;
        text-transform: uppercase;

        @include responsive ('tablet-h') {
          padding: 0 15px 0px 0;
        }
      }

      .menu__sub {
        @extend .container--s;
        position: absolute;
        top: 99%;
        left: 0;
        background-color: $dark-buttom-hover;
        width: 100%;
        display: none;
        min-height: 18vw;
        padding-top: 15px;
        padding-bottom: 15px; 

        @include responsive ('tablet-h') {
          padding-top: 20px;
        }

        .menu__sub_ul {
          width: 20.8vw;
          margin-right: 20px;
          display:inline-grid;
        }

        & li a {
          color: rgba(255, 255, 255, 0.4);
          
        }

        & li:hover a {
          color: $white;
          transition: all 0.3s ease;          
        }

        & li {
          display: block;
          padding: 10px 0;
          border-top: 1px solid rgba(255, 255, 255, 0.4);
        } 

        span {
          font-size: 1.9vw;
          line-height: 1.2;
          color: $white;
          margin-bottom: 20px;
          font-weight: 700;
        }

        span a {
          color: $white;
        }
        .color__transparent {
          color: $dark-buttom-hover;
        }

      }
    }
    .donate{
      background-color: $dark-red;
      width: 20.1vw;
    }

    .firts{
      background-color:$light-green-bg;


      &:hover {
        background-color: $dark-buttom-hover;

      }
      &:hover .menu__sub {
        background-color: $dark-buttom-hover;
        display: block;
      }
    }

    .second{
      background-color: $light-green-bg-second;

      &:hover {
        background-color: $dark-buttom-hover;
      }

      &:hover .menu__sub {
        background-color: $dark-buttom-hover;
        display: block;
      }
    }

    .third{
      background-color: $light-green-bg-thrid;

      &:hover {
        background-color: $dark-buttom-hover;
      }

      &:hover .menu__sub {
        background-color: $dark-buttom-hover;
        display: block;
      }
    }

    .search{
      width: 4.7vw;//48px
      height: 5.5vw;
      background-color:$darker-green-bg;
      display: flex;
      flex-direction: column-reverse;
      justify-content:flex-start;
      align-items: center;
      padding-bottom: 13px;
      

      img{
        width: 22px;
        height: 22px;
      }
    }
  }

}