
header {
  width: 100%;
  position: relative;
  top:0;
  z-index: 10;
  font-size: 75px;
 

  nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:auto;
    cursor: pointer;
    height: 6.8vw;
      position: relative;

      @include responsive ('tablet-h') {
        height: 9.1vw;
      }

      @include responsive ('mobile-v') {
        height: 15.1vw;
        position: fixed;
        width: 100%;
        background-color: $white;
      }
    
      li {
        display: inline-block;
        font-size: 16px;
      }

    .logo__cont {
      z-index: 50;
      
      .logo {
        width: 29.3vw;
        margin: 0 3vw 0 2.5vw;
  
        img {
          display: flex;
        }
  
        @include responsive ('tablet-h') {
          margin: 0 4vw 0 3.5vw;
          width: 28.3vw;
        }
  
        @include responsive ('mobile-v') {
          width: 47.3vw;
          margin-top: -3vw;
        }
      }
    }

    .menu__main {
      display: flex;

      @include responsive ('tablet-h') {
        flex-direction: column;
      }
    }

    .menu.active {
      transform: translate3d(0,0,0);
    }

    .menu__item{
      width: 15.1vw;//266px 20.1vw 29-04
      height: 6.8vw;//83px
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      @include responsive ('tablet-h') { //menu responsive
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        padding: 6vw 0;
      }

      &__link {
        font-size: 16px;
        color: $white;
        padding: 0 18px 11px 0;
        text-transform: uppercase;

        @include responsive ('tablet-h') {
          font-size: 20px;
        }
      }

      .menu__sub {
        @extend .container--s;
        position: absolute;
        top: 99%;
        left: 0;
        background-color: $dark-buttom-hover;
        width: 100%;
        display: none;
        min-height: 18vw;
        padding-top: 15px;
        padding-bottom: 15px; 
        z-index: 10;

        @include responsive ('tablet-h') { 
          padding: 20px 3vw 20px 3vw;
          //height: 100vh;
          height: auto;
          width: 100%;
          top: 11.5vw;
        }

        .menu__sub_ul {
          width: 20.8vw;
          margin-right: 20px;
          display: inline-grid;

          @include responsive ('tablet-h') {
            width: 48%;
            margin-bottom: 5vw;
          }
        }

        .menu__sub_ul:nth-of-type(2) {
          margin-right: 0;
        }

        & li a {
          color: rgba(255, 255, 255, 0.4);
          
        }

        & li:hover a {
          color: $white;
          transition: all 0.3s ease;          
        }

        & li {
          display: block;
          padding: 10px 0;
          border-top: 1px solid rgba(255, 255, 255, 0.4);
        } 

        span {
          font-size: 1.9vw;
          line-height: 1.2;
          color: $white;
          margin-bottom: 20px;
          font-weight: 700;

          @include responsive ('tablet-h') {
            font-size: 3vw;
          }

          @include responsive ('mobile-v') {
            font-size: 5vw;
          }
        }

        span a {
          color: $white;
        }
        .color__transparent {
          color: $dark-buttom-hover;
        }

      }
    }
    .donate{
      background-color: $dark-red;
      width: 14.3vw;

      @include responsive ('tablet-h') {
        width: 100%;
      }
    }

    .firts{
      background-color:$light-green-bg;
      
      @include responsive ('tablet-h') {
        background-color: rgba(110, 172, 172, 1) ;
        position: relative;
      }


      &:hover {
        background-color: $dark-buttom-hover;

      }
      &:hover .menu__sub{
        background-color: $dark-buttom-hover;
        display: block;
      }
    }

    .second{
      background-color: $light-green-bg-second; 
      

      @include responsive ('tablet-h') {
        background-color: rgba(110, 172, 172, 1) ;
        position: relative;
      }

      &:hover {
        background-color: $dark-buttom-hover;
      }

      &:hover .menu__sub {
        background-color: $dark-buttom-hover;
        display: block;
      }
    }

    .third{
      background-color: $light-green-bg-thrid;

      @include responsive ('tablet-h') {
        background-color: rgba(110, 172, 172, 1) ;
        position: relative;
      }

      &:hover {
        background-color: $dark-buttom-hover;
      }

      &:hover .menu__sub {
        background-color: $dark-buttom-hover;
        display: block;
      }
    }

    .search{
      width: 4.7vw;//48px
      height: 6.8vw;
      background-color:$darker-green-bg;
      display: flex;
      flex-direction: column-reverse;
      justify-content:flex-start;
      align-items: center;
      padding-bottom: 13px;

      @include responsive ('tablet-h') {
        width: 100%;
        justify-content: center;
        padding: 6vw 0;
      }
      

      img{
        width: 22px;
        height: 22px; 
      }
    }
  }

}