.hero {

  &__container {
    width: 100%;
    background-size: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #000 0%);
    background: url(../files/hero.jpg) no-repeat center center / cover;

    @include responsive ('mobile-v') {
      height: 80vw;
      position: relative;
    }
    
    .hero__text { 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 45vw;
      
      @include responsive ('tablet-h') {
        height: 57vw;
      }

      @include responsive ('mobile-v') {
        padding: 0 30px;
        height: 85vw;
      }
  
      .hero__title {
        @include h2 ();
        position: relative;
        width: 43vw;
        color: $white;
        padding-bottom: 1.4vw;

        @include responsive ('tablet-h') {
          width: 60vw;
          
          br {
            display: none;
          }
        }
        @include responsive ('mobile-v') {
          font-size: 26px;
        }
    
        &::before {
          content: "";
          position: absolute;
          top: 1.5vw;
          left: -3vw;
          font-size: 20px;
          width: 22px;
          height: 22px;
          transform: rotate(-315deg);
          border: 1px solid $white;

          @include responsive ('tablet-h') {
            width: 15px;
            height: 15px;
          }

          @include responsive ('mobile-v') {
            left: -5vw;
          }
        }
      }
  
      .hero__text__content {
        font-family: $georgia;
        font-size: 16px;
        color: $third-color;
        width: 33.5vw;
        line-height: 1.6;

        @include responsive ('tablet-h') {
          width: 55.5vw;
        }

        @include responsive ('mobile-v') {
          font-size: 14px;
          width: 81.5vw;
        }
      }
    }

    .join__container__position{

      position: relative;

      @include responsive ('mobile-v') {
        position: static;
      }

      .join__container{
        width: 53vw;
        height: 18vw;
        background-color:$dark-red ;
        position: absolute;
        bottom: -3vw;
        right: 5vw;
        display: flex;
        justify-content: space-around;
        padding: 20px 0 0 80px;

        @include responsive ('tablet-h') {
          padding: 30px 80px;
          bottom: -13vw;
          right: 0;
          width: 100%;
          height: auto;
          justify-content: space-between;
        }

        @include responsive ('mobile-v') {
          bottom: -30vw;
          padding: 30px 10px 30px 50px;
        }
  
        .join__left{
          color: $white;
          width: 43.5vw;     
          
          @include responsive ('tablet-h'){
            width: 55.5vw;
          }

          @include responsive ('mobile-v') {
            width: 65.5vw;
          }
  
          .join__title{
            font-size: 30px;
            padding-bottom: 13px;
            position: relative;

            @include responsive ('tablet-h') {
              font-size: 26px;

              br {
                display: none;
              }
            }

            @include responsive ('mobile-v') {
              font-size: 5vw;
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: -40px;
              font-size: 20px;
              width: 31px;
              height: 31px;
              background-color:$third-color;
              border: 1px solid $dark-grey-check;

              @include responsive ('mobile-v') {
                width: 21px;
                height: 21px;
                left: -32px;
                left: -7vw;
                top: 1vw;
              }
            }
          }

          .join__text{
            font-family: $georgia;
            font-size:18px ;
            font-weight: 400;
            line-height: 1.6;

            @include responsive ('tablet-h') {
              font-size: 16px;
            }

            @include responsive ('mobile-v') {
              font-size: 12px;
            }
          }
        }

        .join__right{
          width: 14.5vw;
          display: flex;
          align-items: flex-start;

          @include responsive ('tablet-h') {
            justify-content: flex-end;
            width: 15.5vw;
          }

          @include responsive ('mobile-v') {
            width: 32.5vw;
            align-self: flex-end;
          }
          
          span{
            font-size: 20px;
            color: $white;
            margin-right: 16px;
            font-weight: 400;

            @include responsive ('tablet-h') {
              font-size: 18px;
            }
          }

          .join__action{
            width: 2.6vw;
          }
        }
      }
    }
  }

}

