.up__next {
  background-color: $light-blue-bg;
  position: relative;

  &--dark--green{
    background-color: $dark-green-bg;
  }
  
  .container {
    height: 28vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //padding: 0 2vw;
    
    @include responsive('tablet-h'){
      height:97vw;//92vw
      padding-top: 76px;
      justify-content: flex-start;
    }
    @include responsive('mobile-v'){
      height: 150vw;
      padding: 46px 20px 0 20px;
    }

    &--benefits{
      
      @include responsive('tablet-h'){
        height:105vw;
      }
      @include responsive('mobile-v'){
        height:170vw;
      }

      @media only screen and (max-height: 500px){
        height: 113vw;
      }
    }
    
    
    .up__next__title {
      display: inline-flex;
      align-items: center;
      padding-left: 2.5vw;
      padding-bottom: 7px;
      @include responsive ('mobile-v'){
        padding:0;
      }

      img{
        width: 28px;
        height: 28px;
        background-color:$dark-blue-next;
        border-radius: 50%;

        @include responsive('mobile-v'){
          width: 22px;
          height: 22px;
        }
      }
      
      .up__next__text {
        font-size: 1.5vw;
        text-transform: uppercase;
        color: $light-blue-climate;
        font-family: $sourcesanspro;
        font-weight: 600;
        padding-left: 1.2vw;
        @include responsive ('tablet-h'){
          font-size:20px;
          padding-left: 22px;
        }
        @include responsive ('mobile-v'){
          padding-left: 3vw;
        }
      }
    }

    
    .bloque__cont {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      opacity: 1;
      cursor: pointer;
      
      @include responsive('tablet-h'){
        align-items: center;
        padding-top: 10px;
      }
      @include responsive('mobile-v'){
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5%;
      }
      
      .baseline {
        align-items: baseline; 
      }
      .col__1 {
        width: 6vw;
        min-height: 1.5vw;
        color: $black-txt;

        @include responsive('tablet-h'){
          width: 8vw;
        }
        @include responsive('mobile-v'){
          width: 5vw;
        }

        &--baseline{
          height: 6vw;
          width: 5vw;
          @include responsive('tablet-h'){
            height: 10vw;
          }
          @include responsive('mobile-v'){
            height: 7vw;
          }
        }
        .up__next__number {
          text-align: center;
          font-family: $sourcesanspro;
          font-weight: 600;
          font-size: 1.3vw;
          line-height: 1.3;
          color:$black-txt;

          &--white{
            color: $white;
          }
          @include responsive('tablet-h'){
            font-size: 15px;
          }
        }
        
      }
      .col__2 {
        width: 52vw; 
        min-height: 4.5vw;
        @include responsive('tablet-h'){
          width: 89%;
        }
        @include responsive('mobile-v'){
          width: 95%;
        }
    
        .title {
          color: $black-txt;
          text-align: left;
          letter-spacing: 0px;
          text-transform: capitalize;
          opacity: 1;
          font-family: $sourcesanspro;
          font-weight: 700;
          font-size: 4.8vw;
          line-height: 1;

          &--white{
            color: $white;
          }

          @include responsive ('tablet-h'){
            font-size: 55px; 
            line-height: 1.1;
            padding-left: 5px;
          }
          @include responsive ('mobile-v'){
            font-size: 36px; 
            padding: 0;
          }
        }
      }
      .col__3 {
        width: 44vw;
        position: absolute;
        right: -3vw;
        bottom: 0;
        transform: translate3d(0,100px,0) scale3d(0.9,0.9,0.9);
        transition: all 1s ease;

        @include responsive ('tablet-h'){
          width: 92vw;
          bottom:-6vw;
          transform: none;
          
        }

        @include responsive ('mobile-v'){
          width: 95vw;
          bottom: 0;
        }

        &--how{
          width: 45vw;
          bottom: 0vw;
          right: -3vw;

          @include responsive ('tablet-h'){
            width: 92vw;
            bottom: -1vw;
            right: -9vw;
          }
          @include responsive ('mobile-v'){
            width: 95vw;
            bottom: -1vw;
            right: -6vw;
          }
        }
        
        &--benefits{
          width: 43vw;
          bottom: -1vw;
          right: -3vw;

          @include responsive('tablet-h'){
            width: 92vw;
            bottom: -1vw;
          }
          @include responsive('mobile-v'){
            width: 95vw;
          }
        }

        .image__circle{
          aspect-ratio: 1.1/1;
          width: 100%;
          background-image: url(../files/city-next.png);
          background-repeat: no-repeat;
          background-position: center left;
          background-size: auto 100%;

          @include responsive ('tablet-h'){
            aspect-ratio: 1.4/1;
            background-size: cover;
            background-position: top left;
          }
          @include responsive ('mobile-v'){
            aspect-ratio: 1;
            background-size: cover;
            background-position: top left;
          }

          &--how{
            background-image: url(../files/capabilities-next.png);

            @include responsive ('tablet-h'){
              aspect-ratio: 1.4/1;
              background-size: cover;
              background-position: top left;
            }
            @include responsive ('mobile-v'){
              aspect-ratio: 1;
            }
          }
          &--benefits{
            background-image: url(../files/world-city-next.png);
          }
        }
      }
      
    }
  }
  .back--home{ 

    @include responsive('tablet-h'){
      height: 37vw;  
    }
    @include responsive('mobile-v'){
      height: 60vw;  
    }
  }

  &:hover {
    .container {
      .bloque__cont {
        .col__3 {
          transform: translate3d(0,50px,0) scale3d(1,1,1);
        }
      }
    }
  }

  
}