.grid__layout {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  width: 100%;
  padding-top: 130px;

  &--row {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 30px;
    align-items: center;
    justify-content: space-around;

    .image__cont__circle {
      max-width: 50vw;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 26.8vw;

    &--work {
      grid-row: 1/3;
      margin-top: -2vw;
    }

    &__title__cont {
      display: flex;
      align-items: center; 
      min-height: 5.5vw;
      
      .icon__img {
        width: 4vw;
        margin-right: 5px;
      }
    }

    &__title {
      @include h3 ();
      color:$secondary-color ;
      
      &--big {
        @include h2 ();
        color: $secondary-color;
        text-transform: uppercase;
        
      }
    }

    &__text {
      color: $primary-color; 
      font-size:18px ;
      line-height: 30px;
      margin-top: 25px;
      min-height: 9vw;
    }

    .button {
      @include button ();
      width: 136px;
      padding: 10px 0;
      background-color: $white;
      margin-top: 30px; 
    }
  }
}

//section dates

.dates {
  background-color: $darker-green-bg-secondary;
  padding: 60px 125px 80px 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 74px;

  

  .date__item {
    padding: 5px 0 10px 0;
    //width: 240px;
    text-align: center;
    border-right: 1px solid $white;
    min-width: 18vw;

    .date__number {
      color: $white;
      text-align: center;
      font-size: 5.7vw;
      font-weight: 300;
    }

    .date__text {
      color: $white;
      text-align: center;
      font-size: 18px;
    }
  }

  .date__item:nth-last-child(1){
    border-right:none;
  }
}

//second dates
.dates__images{

  .dates__grid__layout{
    width: 100%;
    //height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 33.3vw);
    grid-template-rows: 25vw;
    justify-content: center;
    overflow: hidden;
    
    .dates__grid__item{
      @include center-xy ();
      flex-direction: column;
      position: relative;
      
      .image-background {
        max-width: 7vw;
        position: relative;
      }

      span {
        margin-top: 23px;
        font-size: 1.9vw;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        position: relative;
      }
    }
    
    .dates__grid__item::before {
      @include image-background();
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
    }

    .dates--one {
      background: url(../files/africa.jpg) no-repeat center center /cover;
    }

    .dates--two {
      background: url(../files/asia.jpg) no-repeat center center /cover;
    }

    .dates--three {
      background: url(../files/global.jpg) no-repeat center center /cover;
    } 
  }
}

//latest
.latest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6.3vw;

  &__title__cont {
    @include icon-title ();
    margin-bottom: 25px;
    
    .icon__img {
      width: 4vw;
      margin-right: 5px;
    }

    .latest__title {
      font-size: 2.5vw;
      color: $secondary-color;
      text-transform: uppercase;
    }
  }

  .button {
    @include button ();
  }
}

.latest__grid__layout {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto;
  gap: 2.5vw;

  .latest__item {
    background-color: $light-grey;
    min-height: auto;//30
    padding: 30px;

    &--first {
      grid-column: 1 / 3;
    }

    &--last {
      grid-column: 3 / 5;
    }

    .latest__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .latest__header--left, .latest__header--right {
        display: flex;
        align-items: center;
  
        .upertitle {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 25px;
          padding-left: 30px;
          color: $darker-green-bg-secondary;
          position: relative;
  
          &::before {
            content: "";
            position: absolute;
            top: 0.3vw;
            bottom: 0;
            left: 0;
            right: 0;
            width: 13px;
            height: 13px;
            transform: rotate(-315deg);
            border: solid 1px;
          }

          &--red {
            color: $dark-red;
          }

          &--black {
            color: $dark-grey-txt;
          }
        }
      }

      .latest__header--right {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 25px;
        color: $dark-grey-text;
      }
    }

    .latest__main {
      max-width: 31.8vw;

      .latest__title {
        @include h3 ();
        padding-top:27px ;
        padding-bottom: 14px;
        font-weight: 700;
        color: $darker-green-bg-secondary ;

        &--red {
          color: $dark-red;
          font-size: 20px;
        }

        &--black {
          color: $dark-grey-txt;
          font-size: 20px;
        }
      }

      .latest__text {
        font-size:16px ;
        color: $dark-grey-text;
      }
    }
  }
}


.social {

  .social__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;

    .social__item {
      background-color: blue;
    }
  }
}