.publications {

  .hero__small {
    @include center-xy ();
    height: 17vw;
    background-color: $dark-red ;
    position: relative;

    .publications__title {
      
      font-size: 3.2vw;
      line-height: 1.3;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 22px;
      position: relative;
      font-weight: 700;
    }
  
    .publications__title::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      top: -1.5vw;
      width: 22px;
      height: 22px;
      transform: rotate(-315deg);
      border: 1px solid $white;
    }

    .rectangle {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      top: 11vw;
      width: 10px;
      height: 10px;
      transform: rotate(-315deg);
      border: 1px solid $white;
      
    }
  }

  .grid__container {
    display: grid;
    grid-template-columns: 20% auto;

    .publications__filter {
      border: 1px solid;

      .publications__visual__icon {
        width: 10vw;
        border: 1px solid red;
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        img {
          margin-right: 20px;
          max-width: 35px;
        }
      }

      .publications__filter__cont {

        .publications__title {
          font-size: 16px;
          color:$secondary-color ;
          padding-top: 25px;
          padding-bottom: 10px;
        }

        .publications__filter__item {

          label {
            color: $primary-color;
            font-size: 16px;
            
            input {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .publications__cont {
      background-color: antiquewhite;
    }
  }
}  