html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html{
  @include default-font();
}

.container--md{
  width: 100%; 
  max-width: 100%;
}

.container--sm{
  width: 100%;
  padding: 0 80px;
}

.title{
  @include h1();
}

p {
  @include default-font();

  
}



