html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html{
  @include default-font();
  width: 100%; 
}

.container--l{
  width: 100%; 
  max-width: 100%;
}

.container--s{
  width: 100%;
  padding: 0 80px;

  @include responsive ('tablet-h') {
    padding: 0 50px;
  }

  @include responsive ('mobile-v') {
    padding: 0 20px;
  }
} 

.wrapper {
  overflow: hidden;
}

p {
  @include default-font();

  
}

.menu-desk {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @include responsive ('tablet-h') {
    display: none;
  }
}

.menu-responsive {
  display: none;

  @include responsive ('tablet-h') {
    display: block;
    height: 5.5vw;
    width: 100%;
    position: relative;
  }
}



