@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');


@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/black/gotham-black-webfont.eot");
  src: url("../fonts/gotham/black/gotham-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/black/gotham-black-webfont.woff2") format("woff2"), url("../fonts/gotham/black/gotham-black-webfont.woff") format("woff"), url("../fonts/gotham/black/gotham-black-webfont.ttf") format("truetype"), url("../fonts/gotham/black/gotham-black-webfont.svg#gothamblack") format("svg");
  font-weight: 900;
  font-style: normal;
}