// @type List
$sourcesanspro: 'Source Sans Pro', 'sans-serif' !default; 
$georgia: 'Georgia', 'Times New Roman', 'Times, serif' !default;


$buttonsfontsize : 16px;

/// @type Color
$primary-color: #828282 !default;
$secondary-color: #0a5b66 !default;
$third-color:#d8d8d8 !default;
$darker-green-bg : #537d7d !default;
$darker-green-bg-secondary : #00908e !default;
$dark-buttom-hover:#008987 !default;

$light-green-bg:rgba(110, 172, 172, 0.8) !default;
$light-green-bg-second:rgba(110, 172, 172, 0.85) !default;
$light-green-bg-thrid:rgba(110, 172, 172, 0.9) !default;
$light-white: #FAF8F7 !default;
$grey : #EFEFEF !default;
$dark-red : #e33f2c !default;
$light-grey:#f5f5f7 !default;
$dark-grey:#e5e4e5 !default;
$dark-grey-txt:#3a4049 !default;
$dark-grey-check:#979797 !default;
$dark-grey-footer:#88878d !default;
$dark-grey-post:#8d8d8d !default;
$dark-grey-header:#F0EFF0 !default;
$dark-grey-text:#acacb1 !default;
$dark-grey-border:#dad9d9 !default;
$white: #ffffff !default;
$light-white-txt:#E2F8FF !default;
$red: #ed1248 !default;
$green: #26D780 !default;
$black: #000 !default;
$yellow: #F2C127 !default;

/// @type Length
$site-widths: (
  'full-width': 100%,
  'max-width': 140.55vw,
  'small-width': 993px,
) !default;

$font-sizes: (
  'h1': 6.3vw, //80px
  'h2': 4vw, //50
  'h3': 2.4vw, //30px
  'h4': 1.4vw,
  'h5': 16px,
  'h6': 0.98vw,
) !default;

$font-sizes-tablet: (
  'h1': 60px,
  'h2': 40px,
  'h3': 24px,
  'h4': 20px,
  'h5': 12px,
  'h6': 0.4vw,
) !default;

$font-sizes-mobile: (
  'h1': 46px,
  'h2': 32px,
  'h3': 26px,
  'h4': 18px,
  'h5': 12px,
  'h6': 0.4vw,
  ) !default;

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'semi': 600,
  'bold': 700,
) !default;

/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
'mobile-s': 450px,
'mobile-v': 600px, 
'mobile-l': 675px,
'mobile-h': 750px,
'tablet-m': 768px,
'tablet-v': 900px, 
'tablet-h': 1050px,
'desktop-m': 1200px,
'desktop': 1440px,
'desktop-l': 1600px,
) !default;





